@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {font-family:Arial, Helvetica, sans-serif;
	margin:0 auto; 
	min-width:560px;
}

#compensator{
	height: 40px;
	background: -webkit-linear-gradient( #F1F1F1, #E0E0E0, #DDDDDD);
	background: -moz-linear-gradient( #F1F1F1, #E0E0E0, #DDDDDD); 
 	background: -o-linear-gradient( #F1F1F1, #E0E0E0, #DDDDDD);background:linear-gradient( #F1F1F1, #E0E0E0, #DDDDDD);
	border-bottom: 2px solid white;}
#container{margin-left:auto;margin-right:auto;margin-top:0px;width:910px;}
#left-container{width:50%;float:left;}
#right-container{width:50%;float:right;}
#right-container-content{ float:right; width:20%;}
#page-content{padding:60px;text-align:middle;font-size:100px;}
